// Insert your values for the parameters you will use in your sketch

// Wi-Fi
#define WIFI_SSID ""
#define WIFI_PASS ""

// MQTT
#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASS ""
#define MQTT_TOPIC ""

// SMTP
#define SMTP_SERVER ""
#define SMTP_PORT 587
#define SMTP_USER ""
#define SMTP_PASS ""
#define SENDER_EMAIL ""
#define RECIPIENT_EMAIL ""
